.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: radial-gradient(
    closest-side at center,
    #E4F5FF 0%,
    #C7E4FF 63%
  );
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 2rem;
}


.input-bar {
  position: sticky;
  bottom: 40px;  
  display: flex;
  background: linear-gradient(
    to right,
    #DAFAFF 0%,
    #F6CFF8 50%,
    #DAFAFF);
  border-radius: 50px;
  padding: 0.5rem;
  width: 60%;
  margin: 0 auto;
}

.input-bar input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0.75rem;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  border-radius: 20px;
  background: transparent;
}

.input-bar button {
  background: none;
  border: none;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #4a4a4a;
  cursor: pointer;
  padding: 0 1rem;
}

.input-bar input::placeholder {
  font-family: "Roboto", sans-serif;
}




