.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 200px;
  padding-top: 100px;
  min-height: 100vh;
  position: relative;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: radial-gradient(
    closest-side at center,
    #E4F5FF 0%,
    #C7E4FF 63%
  );
}

.intro {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  max-width: 600px;
}

.avatar {
  width: 70px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 50%;
  background: linear-gradient(135deg, #91F4FF, #FFB7FA); 
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.R {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 35px;  
  display: inline-block; 
  background: linear-gradient(135deg, #FF8FF8, #4B7CDE);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.message {
  white-space: nowrap;
  font-size: 20px;
  color: #1F3A80;
  font-family: 'Roboto', sans-serif;
  font-weight: 350;
}

.prompt-box {
   background: radial-gradient(
    circle,
    #DAFAFF 0%,
    #F6CFF8 50%,
    #DAFAFF 100%
  );
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  max-width: 900px;
  width: 100%;
}

.prompt-box h2 {
  position: relative;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: #697BAA;
  margin-bottom: 1rem;
  display: inline-block;
  padding-bottom: 0.75rem; 
}

.prompt-box h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 490px;  
  height: 3px;  
  background: linear-gradient(
    to right,
    #71D4ED 0%,
    #CD7CFF 36%,
    #E67CFE 63%,
    #FF7CFD 83%,
    transparent 100%
  );
  border-radius: 999px; 
}

.second-prompt-box {
  margin-top: 2rem;
  background: linear-gradient(
    to right,
    #DAFAFF 0%,
    #F6CFF8 50%,
    #DAFAFF 100%
  );
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.27);
  max-width: 900px;
  width: 100%;
  max-width: 860px;   
  margin: 2rem auto 0; 
  margin-left: -13px;
}

.prompt-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.prompt-buttons button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 16px;
  background: white;
  font-family: 'DM-Sans', sans-serif;
  font-weight: 250;
  color: #0B1F52;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
  font-size: 0.95rem;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.prompt-buttons button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
