:host {
  display: flex;
  flex-direction: column;
  flex: 1;               
  overflow: hidden;     
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  scroll-behavior: smooth;

  flex: 1;
  padding-bottom: 1rem;

  padding-left: 20%;
  padding-right: 20%;
}

.message {
  max-width: 60%;
  padding: 1rem;
  border-radius: 16px;
  font-size: 1rem;
  line-height: 1.4;
  background: #e6fbfe;  
  font-family: "Roboto", sans-serif;
}

.message.user {
  background: #E6FBFE;
  align-self: flex-end;
}

.message.bot {
  background: #FEF1FF;
  align-self: flex-start;
}

.message-wrapper {
  display: flex;
  align-items: flex-end;
  gap: 0.75rem;
}

.message-wrapper.bot {
  flex-direction: row;
  justify-content: flex-start;
}

.message-wrapper.user {
  display: flex;
  flex-direction: row;      
  justify-content: flex-end;
}

.message-wrapper.bot .message {
  background: #fef1ff;
}


.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(135deg, #91F4FF, #FFB7FA);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1.1rem;
  font-family: 'Quicksand', sans-serif;
  color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.avatar .R {
  background: linear-gradient(135deg, #FF8FF8, #4B7CDE);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.2rem;
  font-weight: 500;
}

.avatar .U {
  background: linear-gradient(135deg, #FF8FF8, #4B7CDE);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.2rem;
  font-weight: 500;
}